.page__container {
    width: 1110px;
    margin: 0 auto;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--black);
}
